<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
          <title>Consume Rest Api</title>
    </head>
    <body>
        <div class="container-fluid p-2 bg-primary text-white text-center">
            <h1>VulnCard</h1>
        </div>
<div class="Navigation_buttons">
<a href="{% url 'CustomerVIEW' %}">Customers</a>
<a href="{% url 'EgoControlBoards' %}">EgoControlBoards</a>
<a href="{% url 'VulnBoards' %}">VulnBoards</a>

</div>
        <div class="container mt-5">
            <table>
                <tr>
                    <th>##Name</th>
                    <tr><td>{{ user.info.name }}</td></tr>
                </tr>
                <tr>
                    <th>##CVE</th>
                    <tr><td>{{ user.template_id }}</td></tr>
                </tr>

                <tr>
                    <th>##Severity: {{ user.info.severity }}  </th>
                </tr>
                <tr>
                    <th>##host</th>
                    <tr><td>{{ user.host }}</td></tr>
                </tr>
                <tr>
                    <th>##Description</th>
                    <tr><td>{{user.info.description}}</td></tr>
                </tr>
                <tr>
                    <th>##Replication</th>
                    <tr><td>{{user.matched_at}}</td></tr>
                    <tr><td>{{user.curl_command}}</td></tr>
                    
                    <tr><td>{{user.extracted_results}}</td></tr>
                </tr>
                <tr>
                    <th>##Reference</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                        {% for i in user.info.reference%}
                        <li>{{ i }}</li>
                        {% endfor %}  
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>##Template Url</th>
                    <tr><td>{{ user.template_url }}</td></tr>
                </tr>
            </table>
        
       </div>
    </body>
</html>