 {% extends 'Template_base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
Nuclei ControlBoard
{% endblock %}


{% block content %}

        <div class="Customer_div">
            <table class="table">
                <tr>
                    <th class="table_id_customer">Gnaw control Id</th>
                    <th class="table_Project_Group_Name">Group Name</th>
                    <th class="table_Project_Name">Project Name</th>
                    <th class="table_customer_name">Complete</th>
                    <th class="table_Date_Created">Failed</th>
                </tr>
                {% for gn in gnaw %}
                <tr>
                    <td class="table_id_customer">
                     {{gn.id}}
                            <form action="/GnawControlBoard/delete/{{gn.id}}" method="GET">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="delete">
                                <input type="submit" value="Delete" class="btn btn-danger">
                            </form>
                        <a href="/GnawControlBoard/{{gn.id}}">Gnaw Control here</a>
                    </td>
                    <td class="table_Project_Group_Name">
                        {{gn.ScanGroupingProject}}
                    </td>
                    <td class="table_Project_Name">
                        <div>{{gn.ScanProjectByName}}</div>
                    </td>
                    <td class="table_customer_name">
                        {{gn.Gnaw_Completed}}
                    </td>
                    <td class="table_Date_Created">
                        {{gn.failed}}
                    </td>
                </tr>
                {% endfor %}

            </table>
            <table class="Customers_table">
                <tbody>
                    <tr>
                        <th class="table_id_customer">Customer Id</th>
                        <th class="table_Project_Group_Name">Group Name</th>
                        <th class="table_Project_Name">Project Name</th>
                        <th class="table_customer_name">Customer Name</th>
                        <th class="table_Date_Created">Date Created</th>

                    </tr>
                    {% for customer in customers %}
                    <tr>
                        <td class="table_id_customer">
                        {{customer.id}}
                        </td>
                        <td class="table_Project_Group_Name">
                            {{customer.groupingProject}}
                        </td>
                        <td class="table_Project_Name">
                            <div>{{customer.nameCustomer}}</div>
                        </td>
                        <td class="table_customer_name">
                            {{customer.nameProject}}
                        </td>
                        <td class="table_Date_Created">
                            {{customer.dateCreated}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>
{% endblock %}