{% extends 'Template_pk.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
                <h1>Nuclei ControlBoard</h1>
{% endblock %}
{% block customer_records %}
            <div class="PK_update">
                <form action="{% url 'GnawControlBoardsPK' control.id %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
            <label for="{{ field.id_for_label }}" class="egolabel">
                {{ field.label }}
            </label>
            {{ field }}

                    {% if field.help_text %}
                        <span class="form">
                        {{ field.help_text|safe }}
                        </span>
                    {% endif %}
                    {% if field.default %}
                        <span class="form">
                        {{ field.default|safe }}
                        </span>
                    {% endif %}
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            </div>

{% endblock %}