{% extends 'Template_base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block title %}
Create Ego Agent Controlboard
{% endblock %}
{% block content %}


<div class="_Create">
<form action="{% url 'create_ego_agent' %}" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%for k in data %}
	<p>
    {{k.id}}
    {{k.name}}
    {{k.hostLocation}}
    {{k.lastConnect}}
    {{k.callBackTime}}
    {{k.alive}}
    {{k.bearer_token}}
<form method="GET" action="{% url 'delete_ego_agent' k.id %}">
    {% csrf_token %}
    <button type="submit">Yes, delete</button>
</form>
    </p>

{%endfor%}
</div>
{% endblock %}