/* update_button */

/* update_button */
.parsebutton{

}
.btn {
    font-family: Arial, sans-serif; /* Change the font family */
    font-size: 20px; /* Change the font size */
    font-weight: bold; /* Make the font bold */
    color: #FFF; /* color */
}
.VulnContainer {
    width:750px;
    display: flex;
    justify-content: space-between;
}

.VulnContainer table {
    table-layout: fixed;
    border-collapse: collapse;
}

.VulnContainer td, .VulnContainer th {
    border: 1px solid #ddd;
    padding: 8px;
}

.VulnContainer tr:nth-child(even) {
    background-color: #f2f2f2;
}

.VulnContainer tr:hover {
    background-color: #ddd;
}

.bulk_values {
    display: flex;
	justify-content: space-between;

}

.bulk_values_geocodes {
    display: flex;
    justify-content: space-between;
}

.VulnContainer th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.VulnContainer .toptd {
    border: 1px solid #ddd;
    font-size: 11.0pt;
    font-family: "Calibri",sans-serif;
    text-align: justify;
    font-weight: bold;
    background-color: #333;
    color: #FFF;
}

.VulnContainer .midtd {
    border: 1px solid #ddd;
    font-size: 14.67px;
    font-family: "Calibri",sans-serif;
}

.VulnContainer .topspan {
    font-weight: bold;
    font-size: 14.67px;
    font-family: "Calibri",sans-serif;
}

.VulnContainer .info, .VulnContainer .low, .VulnContainer .medium, .VulnContainer .high, .VulnContainer .critical, .VulnContainer .unknown {
    font-weight: bold;
    color: white;
    font-size: 14.67px;
    font-family: "Calibri",sans-serif;
}

.VulnContainer .info {
    background-color: #5bc0de;
}

.VulnContainer .low {
    background-color: #5cb85c;
}

.VulnContainer .medium {
    background-color: #f0ad4e;
}

.VulnContainer .high, .VulnContainer .critical {
    background-color: #d9534f;
}


.namespan {
    color: #FFF;
    font-size: 14.67 px;
    font-family: "Calibri",sans-serif;
}

.link {
  align: center;
  cursor: pointer;
  color: #000000; /* Black for better contrast */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 16px;/* Added additional margin */
  background-color: #add8e6; /* Light blue */
}

.link:hover {
  color: #000000; /* Black for better contrast */
  background-color: #f0e68c; /* Khaki, a soft yellow */
}

.link.active {
  background-color: #b0e0e6; /* Powder blue */
  color: #000000; /* Black for better contrast */
}

.content {
  margin: 16px;
  padding: 14px;
  color: #000000; /* Black for better contrast */
  background-color: #e6e6fa; /* Lavender */
}

.logoTitle {
  color: #000000; /* Black for better contrast */
  padding: 2px 4px; /* Optional: Add padding to enhance visibility of the background color */
  font-size: 100px; /* Increase text size */
  font-family: 'Roboto Mono', monospace; /* Unique font */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Fancy shadow effect */
}

.title {
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #000000; /* Black for better contrast */
    background-color: #f0f8ff; /* Alice blue */
}

.title .pageTitle {
    margin: auto;
    color: #000000; /* Black for better contrast */
}

.table {
    color: #000000; /* Black for better contrast */
}

.table th {
    background-color: #b0e0e6; /* Powder blue */
    color: #000000; /* Black for better contrast */
}

.table tr {
    background-color: #e6e6fa; /* Lavender */
    color: #000000; /* Black for better contrast */
}

.table tr:nth-child(even) {
    background-color: #f0f8ff; /* Alice blue */
    color: #000000; /* Black for better contrast */
}

.table a {
    color: #000000; /* Black for better contrast */
}

.button {
    background-color: #f0e68c; /* Khaki, a soft yellow */
    color: #000000; /* Black text */
}

.pkinner {
    display: flex;
    justify-content: space-between;
}

/* CSS */
.PK_Create {
    display: none;
}

.charts {
    float: right; 
    width: 600px;
}

.Chart_AliveOrDeadChartPk,
.Chart_PortChartPk,
.Chart_CustomerPK {
    width: auto;
    height: auto;
}

.CustomerButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* data display */
.CustomerRecords .top {
    width: 100%;
    display: flex;
    flex-direction: row; /* Ensures the children are laid out in a row */
}

.CustomerRecords .left {
    width: 50%; /* Adjust as needed */
    display: flex;
    flex-wrap: wrap;
}

.CustomerRecords .right {
    width: 50%; /* Adjust as needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.CustomerRecords .bottom {
    width: 100%; /* Take up the full width */
}

.sub_list_whois {
    width: 450px;
    height: 700px;
    overflow: auto;
    transition: height 0.5s;
    border: 1px solid black;
    background-color: #add8e6; /* Light blue */
    font-size: 10px; /* Smaller text */
}

.sub_list_whois, .whois_table {
    border-collapse: collapse;
}

.sub_list_whois, .tr_whois {
    background-color: #f8f9fa;
    border: 3px solid #000;
}

.domainScope{
    width: 200px;
	height: 700px;
    overflow: auto;
	transition: height 0.5s;
	border: 1px solid black;
	background-color: #add8e6; /* Light blue */
	font-size: 17px; /* Smaller text */
}


.sub_list_domainScope {
    font-size: 14px;
    display: inline-block;
    width: 250px;
    height: auto;
    overflow: hidden;
    transition: height 0.5s;
    border: 1px solid black;
    background-color: #add8e6; /* Light blue */
}


.whois p.no-padding, .sub_list_domainScope p.no-padding {
    word-wrap: break-word;
    margin: 0;
    padding: 0;
}


.no_padding_name {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    color: #333; /* Darker shade of black */
}

.sub_values {
    font-weight: normal;
    font-size: 10px;
    color: #666; /* Lighter shade of black */
}

.name {
    font-weight: bold;
}

.records {
    background-color: #f0f8ff;
    font-size: 8px;
    width: 200px;
    height: 300;
    overflow: hidden;
    display: inline-block;
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px; /* Added interior padding */
}

.records p.no-padding {
    margin: 0;
    padding: 0;
}

.div_titles {
    overflow: hidden;
    width: 200px;
    border-bottom: 2px solid black;
    cursor: pointer;

}

.div_titles_nested {
    overflow: hidden;
    width: 200px;
    border-bottom: 2px solid black;
    cursor: pointer;
}
.div_titles_nested p.no-padding {
    margin: 0;
    padding: 0;
}


.domain_title {
    word-wrap: break-word;
    margin-bottom: 0;
    font-size: 15px;
    border-bottom: 2px solid black;
    font-weight: bold;
    color: #000080; /* Navy Blue for contrast with #f0f8ff */
}

.subDomain_title {
    font-size: 20px;
    border-bottom: 2px solid #add8e6; /* Light blue */
    font-weight: bold;
    color: #000080; /* Navy Blue for contrast with #f0f8ff */
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    white-space: normal; /* Allows the text to wrap */
    overflow-wrap: break-word; /* Breaks the word at the end of the line */
}

.sub_list_domainScope {
    font-size: 14px;
    border-bottom: 2px solid #add8e6; /* Light blue */
    font-weight: bold;
    color: #000080; /* Khaki, a soft yellow */
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.records:hover {
    background-color: #cfe0e8;
}

.popup {
    display: none;
    position: fixed;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    background-color: white;
    border: 1px solid black;
    overflow: auto;
    z-index: 1000;
}

.popup:target {
    display: block;
}

.close {
    display: block;
    text-align: right;
    text-decoration: none;
    color: #000;
}

.field  {
    width: auto;
}

.no-padding {
    padding: 0;
}

.blur-text {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,0.5); /* Increased blur effect */
}
.blur-text:hover {
    color: black;
    text-shadow: none;
}

.product-link {
    font-weight:bold;
    font-size: 17px; /* Increase the font size */
    transition: transform 0.3s ease-in-out; /* Add a transition effect */
}

.product-link:hover {
    transform: scale(0.75); /* Shrink the link to 75% of its original size on hover */
}