{% extends 'Template_base.html' %}
{% load bootstrap5 %}
{% load static %}


{% block title %}
            <h1> Create EgoControls</h1>
{% endblock %}
{% block content %}


<div class="Customers_Create">
    <p>Welcome to Ego control board, </p>
            <form action="{% url 'EgoControlCreate' %}" method="post">
                {% csrf_token %}
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
                <input type="submit" value="OK">
            </form>
</div>
{% endblock %}