{% extends 'Template_base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
<h1>WordList</h1>
{% endblock %}


{% block content %}

<div>
    <div class="_Create">
        <form action="{% url 'WordClassCreate' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="egolabel">
                        {{ field.label }}
                    </label>
                    {{ field }}
                    {% if field.help_text %}
                        <span class="form">
                            {{ field.help_text|safe }}
                        </span>
                    {% endif %}
                    {% if field.default %}
                        <span class="form">
                            {{ field.default|safe }}
                        </span>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div>
{% for w in WordList %}
  <div class="container">
    <form method="post" enctype="multipart/form-data" action="{% url 'WordClassBulkCreate' w.id %}">
        {% csrf_token %}
        <input type="file" name="uploaded_file" accept=".txt">
        <input type="submit" value="Upload">
    </form>
  </div>
  <!-- rest of your code -->

    <p><a href="{url "" w.id}"</br>
    {{w.groupName}}</br>
    {{w.description}}</br>
    {{w.count}}</br></p>

    </div>
</div>
    {% endfor %}
{% endblock %}
