{% extends 'Template_pk.html' %}
{% load bootstrap5 %}
{% load static %}
{% load type_filter %}
{% load break_loop %}
{% load scale_font %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
{% endblock %}

{% block title %}
    {{Customer.nameCustomer}}

{% endblock %}

{% block customer_records %}
<!-- Add this to your HTML file -->
<div id="popup" class="popup">
    <a href="#" class="close">&times;</a>
    <div id="popup-content"></div>
</div>
<div class="CustomerRecords">
    <div class="top">
        <div class="left">
            <div class="CustomerButton">
                <script>
                    function confirmAction() {
                        return confirm("Are you sure you want to perform this action?");
                    }

                    function openForm() {
                        document.getElementById('pk-create-content').style.display = 'block';
                    }

                    function closeForm() {
                        document.getElementById('pk-create-content').style.display = 'none';
                    }
                </script>

                <div class="PK_Create" id="pk-create-content">
                    <form action="{% url 'CustomerPk' Customer.id %}" method="post" onsubmit="closeForm()">
                        {% csrf_token %}
                        <table>
                            {% for field in form %}
                                <tr>
                                    <td>{{ field.label_tag }}</td>
                                    <td class="field">{{ field }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <input type="submit" value="OK">
                        <button type="button" onclick="closeForm()">Exit</button>
                    </form>
                </div>

                <div class="CustomerButtonNest">
                    <form>
                        <button type="button" class="btn btn-success" style="width:226px; height:52.5px; font-weight: bold; font-size: 20px;" onclick="openForm()">Update Customer</button>
                    </form>
                </div>

                <div class="CustomerButtonNest">
                    <form method="post" action="{% url 'NistView' Customer.id %}" onclick="return confirmAction()">
                        {% csrf_token %}
                        <button class="btn btn-primary" style="width:226px; height:52.5px; font-weight: bold; font-size: 20px;" type="submit">Parse</button>
                    </form>
                </div>

                <div class="CustomerButtonNest">
                    <form method="get" action="{% url 'CustomerPkDelete' Customer.id %}" onsubmit="return confirmAction()">
                        {% csrf_token %}
                        <button class="btn btn-danger" style="width:226px; height:52.5px; font-weight: bold; font-size: 20px;" type="submit">Delete Records</button>
                    </form>
                </div>
            </div>

            <div class="Container">
                {% for key, value in Customer.items %}
                    {% if key != "customerrecords" and key != "nmap_products" and key != "whois_customers" and key != "domainScope" and key != 'unique_geocodes' %}
                        <div class="bulk_values">
                            <p style="padding: 0; font-size: 18px;"><strong>{{ key }}</strong>: {{ value }}</p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="right">
            {% for key, value in Customer.items %}
                {% if key == "domainScope" %}
                    <div class="domainScope">
                        {% for x in value %}
                            {% with new_x=x|slice:"2:" %}
                                <p class="no-padding name"><a href="?search={{ new_x }}">{{x}}</a></p>
                            {% endwith %}
                        {% endfor %}
                    </div>
                {% elif key == "unique_geocodes" %}
                    <div class="sub_list_whois">
                        <b style="color: white; background-color: blue;">Unique GeoCodes</b>
                        <table id="sorttable">
                            <thead>
                                <tr>
                                    <th>country</th>
                                    <th>ip address</th>
                                    <th>city</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for val in value %}
                                    <tr>
                                        <td>{{ val|get_item:'country' }}</td>
                                        <td>{{ val|get_item:'ip_address' }}</td>
                                        <td>{{ val|get_item:'city' }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% elif key == "whois_customers" %}
                    <div class="sub_list_whois">
                        <div><strong>{{ key }}</strong>:</div>
                        <table class="whois_table">
                            {% for sub_value in value %}
                                <tr class="tr_whois">
                                    <td>
                                        {% for sub_key, sub_values in sub_value.items %}
                                            {% if sub_key == "state" %}
                                            {% elif sub_key == "map_image" %}
                                                <p class="no_padding_name">{{ sub_key }}</p>
                                                {% with new_x=sub_values|slice:"6:" %}
                                                    <iframe src="{{ new_x }}"></iframe>
                                                {% endwith %}
                                            {% elif sub_key != "id" and sub_key != "customer_id" and sub_values != "None" and sub_values != None %}
                                                <p class="no_padding_name">{{ sub_key }}: <span class="sub_values">{{ sub_values }}</span></p>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="bottom">
        <div class="button-container">
            <button class="btn btn-primary record-button" data-record="GEOCODES">GEO Codes</button>
            <button class="btn btn-secondary record-button" data-record="Nmaps_record">Nmap</button>
            <button class="btn btn-success record-button" data-record="DNSQuery_record">DNS</button>
            <button class="btn btn-danger record-button" data-record="Certificates_record">SSLCert</button>
            <button class="btn btn-warning record-button" data-record="RecRequestMetaData">Web</button>
            <button class="btn btn-primary record-button" data-record="Records">Record</button>
        </div>
<div>
    

    {% for key, value in Customer.items %}
        {% if key == "nmap_products" %}
            {% for ke,va in value.items %}
                <a class="product-link" href="{% url 'CustomerPk' Customer.id %}?search={{ ke }}" style="font-size: {{ va|scale_font }}px;">{{ ke }}</a>
            {% endfor %}
        {% endif %}
    {% endfor %}

    <style>
    .product-link {
        font-weight:bold;
        font-size: 24px; /* Increase the font size */
        padding-right: 10px; 
        transition: transform 0.3s ease-in-out; /* Add a transition effect */
        color: #003366;
    }

    .product-link:hover {
        transform: scale(0.75); /* Shrink the link to 75% of its original size on hover */
    }
    .table td {
        max-width: 300px;
    }
    </style>
</div>
        {% for key, value in Customer.items %}
            {% if key == "customerrecords" %}
                <div class="bulk_values_customerrecords">
                    <div><strong>{{ key }}</strong>:</div>
                    <form method="GET" action="">
                        <input type="text" name="search" placeholder="Search">
                        <input type="submit" value="Search">
                    </form>
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                        {% endif %}
                        <li class="current">{{ page_obj.number }}</li>
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">next</a></li>
                        {% endif %}
                    </ul>
                    <table  class="table table-striped table-bordered">
                        <thead>
                            {% with FLIP=value|get_first %}
                                    {% for key in FLIP %}
                                        <th class="text-primary">{{ key }}</th> <!-- Apply Bootstrap class here -->
                                    {% endfor %}
                                </tr>
                            {% endwith %}
                        </thead>
                        <tbody>
                            {% for sub_value in value %}
                                {% for sub_keys, sub_values in sub_value.items %}
                                    {% if sub_keys|in_list:"Nmaps_record,GEOCODES,Certificates_record,DNSQuery_record,DNSAuthority_record,RecRequestMetaData" %}
                                        {% if sub_values %}
                                            {% for info in sub_values %}
                                                <tr data-record="{{ sub_keys }}">
                                                    {% for nes_key, nes_val in info.items %}
                                                        <td class="text-truncate">{{nes_val}}</td> <!-- Apply Bootstrap class here -->
                                                    {% endfor %}
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>


<!-- javascript -->
<script>
    document.querySelectorAll('.record-button').forEach(function(button) {
        button.addEventListener('click', function() {
            var recordType = this.getAttribute('data-record');
            document.querySelectorAll('tbody tr').forEach(function(row) {
                if (row.getAttribute('data-record') === recordType) {
                    row.style.display = 'table-row'; // display the row
                } else {
                    row.style.display = 'none'; // hide the row
                }
            });
        });
    });
</script>



{% endblock %}


