{% extends 'Template_pk.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
            VulnCard
{% endblock %}


{% block content %}
<div class="container"> 
    <div class="_Create">
        <form action="{% url 'VulnCardCreate' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
        <label for="{{ field.id_for_label }}" class="egolabel">
            {{ field.label }}
        </label>
        {{ field }}
                {% if field.help_text %}
                    <span class="form">
                    {{ field.help_text|safe }}
                    </span>
                {% endif %}
                {% if field.default %}
                    <span class="form">
                    {{ field.default|safe }}
                    </span>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="VulnsDisplayGrid">
<h2>Mantis Vulns</h2>
        <p>
            <a href="/VulnBoard/create/{{ res.id}}">{{ res.id}}</a></br>
            {{ results.name}}</br>
            {{ results.vulnClass}}</br>
            {{ results.severity}}</br>
        </p>
    </div>
</div>
{% endblock %}