{% extends 'Template_base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
         <h1>VulnCard</h1>   
{% endblock %}

{% block content %}
<div class="container1">


        <div class="container-fluid p-2 bg-primary text-white text-center">
        </div>
        <div class="container mt-5">


            <table>
                <tr>
                    <th>##Name</th>
                    <tr><td>{{ results.name }}</td></tr>
                </tr>
                <tr>
                    <th>##CVE</th>
                    <tr><td>{{ results.template_id }}</td></tr>
                </tr>

                <tr>
                    <th>##Severity: {{ results.severity }}  </th>
                </tr>
                <tr>
                    <th>##host</th>
                    <tr><td>{{ results.host }}</td></tr>
                </tr>
                <tr>
                    <th>##Description</th>
                    <tr><td>{{results.description}}</td></tr>
                </tr>
                <tr>
                    <th>##Replication</th>
                    <tr><td>{{results.matched_at}}</td></tr>
                    <tr><td>{{results.curl_command}}</td></tr>
                    
                    <tr><td>{{results.extracted_results}}</td></tr>
                </tr>
                <tr>
                    <th>##Reference</th>
                </tr>
                <tr>
                    <td>
                        <ul>
                        {% for i in results.reference%}
                        <li>{{ i }}</li>
                        {% endfor %}  
                        </ul>
                    </td>
                </tr>
                <tr>
                    <th>##Template Url</th>
                    <tr><td>{{ results.template_url }}</td></tr>
                </tr>
            </table>
        </div>
       </div>

{% endblock %}