body {
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-size: 0.875rem;
}



.link {
  align: center;
  cursor: pointer;
  color: #000000; /* Black for better contrast */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 16px;/* Added additional margin */
  background-color: #add8e6; /* Light blue */
}

.link:hover {
  color: #000000; /* Black for better contrast */
  background-color: #f0e68c; /* Khaki, a soft yellow */
}

.link.active {
  background-color: #b0e0e6; /* Powder blue */
  color: #000000; /* Black for better contrast */
}

.content {
  margin: 16px;
  padding: 14px;
  color: #000000; /* Black for better contrast */
  background-color: #e6e6fa; /* Lavender */
}

.logoTitle {
  color: #000000; /* Black for better contrast */
  padding: 2px 4px; /* Optional: Add padding to enhance visibility of the background color */
  font-size: 100px; /* Increase text size */
  font-family: 'Roboto Mono', monospace; /* Unique font */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Fancy shadow effect */
}

.title {
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #000000; /* Black for better contrast */
    background-color: #f0f8ff; /* Alice blue */
}

.title .pageTitle {
    margin: auto;
    color: #000000; /* Black for better contrast */
}


.Customer_div {
    background-color: #ffffff; /* Light blue */
}

.table {
    color: #000000; /* Black for better contrast */
}

.table th {
    background-color: #b0e0e6; /* Powder blue */
    color: #000000; /* Black for better contrast */
}

.table tr {
    background-color: #e6e6fa; /* Lavender */
    color: #000000; /* Black for better contrast */
}

.table tr:nth-child(even) {
    background-color: #f0f8ff; /* Alice blue */
    color: #000000; /* Black for better contrast */
}

.table a {
    color: #000000; /* Black for better contrast */
}

.button {
    background-color: #f0e68c; /* Khaki, a soft yellow */
    color: #000000; /* Black text */
}

.blur-text {
    color: transparent;
    text-shadow: 0 0 10px rgba(0,0,0,0.5); /* Increased blur effect */
}
.blur-text:hover {
    color: black;
    text-shadow: none;
}

.field  {
    width: auto;
}